/*Task 1 */

.introduction::first-letter
{
    font-size: 45px;
    font-weight: bold;
    color: blue;
}


/* Task 2 */

.news::first-line
{
    background-color: lightyellow;
    font-weight: bold;
}


/* Task 3 */

.important::before
{
    content: "NOTE: ";
    color: red;
    font-weight: bold;
}


/* Task 4 */

.copyright::after
{
    content: " © 2026";
    font-weight: bold;
}


/* Task 5 */

.tasklist li:first-child
{
    color: red;
}

.tasklist li:nth-child(2)
{
    font-weight: bold;
}

.tasklist li:last-child
{
    color: blue;
}


/* Task 6 */

.items li:nth-child(odd)
{
    background-color: lightgray;
}

.items li:nth-child(even)
{
    background-color: lightblue;
}


/* Task 7*/

a[target="_blank"]
{
    color: red;
}

a[href^="https"]
{
    font-weight: bold;
}


a:hover
{
    color: green;
}


/* Task 8 */

img[src$=".jpg"]
{
    border: 4px solid black;
}



/* Task 9 */

input[placeholder*="Search"]
{
    background-color: lightyellow;
}


input:focus
{
    background-color: lightblue;
}



/* Task 10 */

.container1 p
{
    color: green;
    background-color: lightyellow;
}


/* Task 11 */

.container2 > p
{
    color: blue;
    font-weight: bold;
}


/* Task 12 */

h3 + p
{
    color: rgb(237, 67, 237);
}


/* Task 13 */

.follow-heading ~ p
{
    font-style: italic;
}


/* Task 14 */

/* input:focus
{
    outline: none;
    background-color: lightyellow;
} */


/* Task 15 */

input[type="checkbox"]:checked + label
{
    color: green;
    font-weight: bold;
} 








